* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}
body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*background: color, image, repeat, position/size */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 360px;
  max-width: 588px;
  /* border: 1px solid red;*/
  margin: 56px auto 0px; /*escreve em forma de relógio - em cima 56px, nas laterais auto, e embaixo 0px.
Isso substitui essas outras formas de escrever:
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;*/
  padding: 0 24px;
}

/*Profile*/
#profile {
  text-align: center;
  padding: 24px; /*aplica espaço de 24px ao redor da TAG profile declarada em html.*/
}
#profile img {
  /*display: block;*/
  width: 112px; /*no CSS geralmente não precisa ajustar a altura*/
  /*margin: auto;*/
}
#profile p {
  font-weight: 500;
  /*font-size: 16px; - Por padrão os navegadores já tem o font-size de 16px*/
  line-height: 24px;
}
/*Switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/* links */
ul {
  list-style: none; /*retira os pontos ou números da lista*/
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0;
}
ul li a {
  /*border: 1px solid red;*/

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

/*pseudo-selector*/
ul li a:hover {
  /*para quando passar o mouse em cima do button*/
  background-color: var(--surface-color-hover); /*cor de fundo do button*/
  border: 1.5px solid var(--text-color); /*borda do button*/
}

/*social-links*/
#social-links {
  display: flex;
  /*gap: 32px;*/
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: 0.2s;
}
#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  text-align: center;
  padding: 24px;
  font-size: 14px;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url:url(./assets/bg-desktop.jpg);
  }
  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}